<h2>Edit style</h2>
<form action="/styles/<%= @style["id"] %>" method="post">
  <div class="form-item">
    <label class="form-item-label" for="name">Name:</label>
    <input type="text" name="name" placeholder="Style Name" required value="<%= @style["name"] %>">
  </div>
  <div class="form-item">
    <label class="form-item-label" for="image">Image:</label>
    <input type="url" name="image" placeholder="http://..." value="<%= @style["image"] %>">
  </div>
  <div class="form-item">
    <label class="form-item-label" for="image">Description:</label>
    <textarea name="description" placeholder="Edit style description"><%= @style["description"] %></textarea>
  </div>
  <div class="form-item">
    <button class="controls-link" type="submit">Update style</button>
    <a class="controls-link" href="/styles">Back to the list</a>
  </div>
</form>
