<h2>New Style</h2>
<form action="/styles" method="post">
  <div class="form-item">
    <label class="form-item-label" for="name">Name:</label>
    <input type="text" name="name" placeholder="Style Name" required>
  </div>
  <div class="form-item">
    <label class="form-item-label" for="image">Image:</label>
    <input type="url" name="image" placeholder="http://...">
  </div>
  <div class="form-item">
    <label class="form-item-label" for="image">Description:</label>
    <textarea name="description" placeholder="Edit style description"></textarea>
  </div>
  <div class="form-item">
    <button  class="controls-link" type="submit">Create style</button>
  </div>
</form>
