<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Interior Design Style</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
      <nav class="default-margin">
        <ul>
          <li class="margin-left0"><a href="/styles">Interior Design Styles</a></li>
          <li><a href="/furnitures">Furniture</a></li>
        </ul>
      </nav>
    </div>
    <div class="container default-margin">
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>
